.swiper.longcook {
  width: 70vw;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  padding: 2vh;
  /* border: 10px solid black; */
}

.swiper-slide.longcook {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 22vw;
  height: 100%;

  transition: transform 0.3s ease;
  /* border: 10px solid red; */
  flex-direction: column;
}

.swiper-slide:hover {
  transform: scale(1.05);
}

.swiper-button-next,
.swiper-button-prev {
  color: rgba(255, 89, 53, 0.4);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.longcook:hover .swiper-button-next,
.longcook:hover .swiper-button-prev {
  opacity: 1;
  visibility: visible;
}
